{
  "openapi": "3.1.0",
  "info": {
    "title": "Tutly API",
    "description": "API documentation for Tutly - The Digital OS for Colleges",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tutly.in/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/courses": {
      "get": {
        "description": "Returns all courses from the institution",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Course list response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Course"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new course",
        "requestBody": {
          "description": "Course details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewCourse"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Course created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Course"
                }
              }
            }
          }
        }
      }
    },
    "/courses/{id}": {
      "delete": {
        "description": "Deletes a course",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of course to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Course deleted successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Course": {
        "required": [
          "name",
          "code"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the course",
            "type": "string"
          },
          "code": {
            "description": "Course code",
            "type": "string"
          },
          "description": {
            "description": "Course description",
            "type": "string"
          },
          "instructor": {
            "description": "Course instructor details",
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      },
      "NewCourse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Course"
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}